---
---

@import "{{ site.theme }}";


/* theme overrides */

a {
  color: #a55858;
}

body {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  max-width: 80em;
  padding: 2rem 2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #3465a4;
  }
}

.page-header {
  color: #827157;
  text-align: middle;
  background-color: #ffffff;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/309895dd-9c01-4cd4-976d-3aeff9a64c7e/ddohcpa-2e57d0e9-6892-4d84-bbe7-e138efd07217.png');

  @include large {
    padding: 4rem 4rem;
  }

  @include medium {
    padding: 3rem 3rem;
  }

  @include small {
    padding: 2rem 2rem;
  }
}

.project-tagline {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

h1.site-title {
  margin-bottom: 0;
}

img.logo {
  vertical-align: middle;
}
